.card__title {
  max-width: 190px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: auto 0 auto 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 840px) {
  .card__title {
    max-width: 150px;
  }
}

@media screen and (max-width: 767px) {
  .card__title {
    max-width: 190px;
  }
}

@media screen and (max-width: 560px) {
  .card__title {
    max-width: 120px;
  }
}

@media screen and (max-width: 424px) {
  .card__title {
    max-width: 190px;
  }
}
