.gallery__item-description {
    min-height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .gallery__item-description {
        min-height: 77px;
    }
  }